.wrapper {
	position: relative;
	background-color: #fff;
	max-width: 100%;
	border-radius: 13px;
	overflow-x: hidden;
	margin: 20px 0;
}

.wrapper .icon {
	position: absolute;
	top: 0;
	height: 100%;
	width: 1.6rem;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.icon:first-child {
	left: 0;
	background: linear-gradient(90deg, #fff 70%, transparent);
	padding: 0 30px 0 5px;
	display: none;

	@media screen and (max-width: 560px) {
		padding: 0 15px 0 5px;
	}
}

.icon:last-child {
	right: 0;
	background: linear-gradient(-90deg, #fff 70%, transparent);
	padding: 0 5px 0 20px;

	@media screen and (max-width: 560px) {
		padding: 0 10px 0 15px;
	}
}
.wrapper .tabs-box {
	padding: 5px 15px;
	display: flex;
	list-style: none;
	gap: 12px;
	overflow-x: hidden;
	scroll-behavior: smooth;

	@media screen and (max-width: 560px) {
		padding: 0px 10px;
		gap: 6px;
	}
}

.tabs-box.dragging {
	scroll-behavior: auto;
	cursor: pointer;
}

.tabs-box.dragging .tab {
	user-select: none;
}

.tabs-box .tab {
	cursor: pointer;
	white-space: nowrap;
	font-size: 1.18rem;
	background-color: #f5f4fd;
	padding: 5px 15px;
	border: 1px solid #d8d5f2;
	border-radius: 30px;

	@media screen and (max-width: 560px) {
		padding: 1px 15px;
		border-radius: 15px;
		font-size: 1rem;
	}
}

.tabs-box .tab.active {
	color: #fff;
	background-color: black;
	border-color: transparent;
}

.tabs-box {
	-webkit-overflow-scrolling: touch;
}
